<section class="register">
  <div class="your-why">
    <h1>Your Why.  Your Purpose</h1>
    <h4><i>Gee thanks Quan.  If I knew what my purpose is, I'd be doing it.</i> Yep, we get that.  We have one quesiton for you:</h4>

    <h3>What would you do and love even if you were failing? <a href="https://www.youtube.com/watch?v=FTpQc0K2uLw"><i>--Tom Bilyeu, co-founder of Quest Nutrition</i></a></h2>
    <textarea class="your-why-textarea">

    </textarea>

    <div class="guidance">
      <h2>Your Why is super important because it give you clarity of where you want to go.  A North Star</h2>
      <h3>The best resource we've seen to help you with this quesiton is Simon Sinek's <a href="https://startwithwhy.com/why-discovery-course/">Why Discovery Course</a>.</h3>
    </div>
  </div>
</section>

<section class="register">
  <h1>Core values give you information on:</h1>
  <ul>
    <li>What's important to you</li>
    <li>How you make decisions (which shapes behavior)</li>
    <li>What motivates you personally and professionally (work/life fulfillment)</li>
    <li>Awareness into your emotions (why specific circumstances trigger strong emotions for you)</li>
  </ul>

  <p>A good resource to figure out your core value is to take a <a href=" https://members.taylorprotocols.com/Tools/CVIGift.aspx?GiftHash=a6d9f914-5adb-1030-aa1a-adf0ab89abbd">core value index assessment</a></p>
  <p>I found that combined with their <a href="https://www.amazon.com/Choices-Lynn-Ellsworth-Taylor-ebook/dp/B007I8RQM2/ref=sr_1_1?ie=UTF8&qid=1508249568&sr=8-1&keywords=choices+Lynn+Taylor&pldnSite=1">choices book</a> very insightful</p>
</section>