<section class="register">
  <div class="your-why">
    <h1>Your Why.  Your Purpose</h1>
    <h4><i>Gee thanks Quan.  If I knew what my purpose is, I'd be doing it.</i> Yep, we get that.  We have one quesiton for you:</h4>

    <h3>What would you do and love even if you were failing? <a href="https://www.youtube.com/watch?v=FTpQc0K2uLw"><i>--Tom Bilyeu, co-founder of Quest Nutrition</i></a></h2>
    <textarea class="your-why-textarea">

    </textarea>

    <div class="guidance">
      <h2>Your Why is super important because it give you clarity of where you want to go.  A North Star</h2>
      <h3>The best resources we've seen to help you with this quesiton are:</h3>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
</section>

<section class="register">
  <h1>Core Values</h1>
  <div class="top-5-values">
    <p>If you don't know what your core values are then here are some resources that could help you.</p>
  </div>
  <div class="register-content">
    <h1>Description - Why</h1>
    <h1>Examples</h1>
  </div>
</section>