<div class="guidance-page clearfix">
  <%= render "shared/top_navbar_black" %>
</div>

<section class="book-summaries">
  <div class="miracle-morning post">
    <h1 class="title"><a href="https://smile.amazon.com/Miracle-Morning-Not-So-Obvious-Guaranteed-Transform-ebook/dp/B00AKKS278/ref=sr_1_1?ie=UTF8&qid=1518616636&sr=8-1&keywords=miracle+mornings+book">The Miracle Morning</a></h1>

    <h4>Most people have no sense of urgency to improve themselves so they can improve their lives. Human nature is to live with a “someday” mindset and think life will work itself out.<i>--Hal Elrod, Author of The Miracle Morning: The Not-So-Obvious Secret Guaranteed to Transform Your Life (Before 8AM)</i></h4>

    <div class="guidance">
      <h3>S.A.V.E.R.S</h3>
      <p>Silence: Practice any or all of Meditation/Gratitude/Reflection/Deep Breathing</p>
      <p>Affirmations: Your self-talk has dramatic influence on your level of success in every aspect of your life— confidence, health, happiness, wealth, relationships, etc.</p>
        <ul>
          <li>Your affirmations are either working for or against you, depending on how you are using them. If you don’t consciously design and choose your affirmations you are susceptible to repeating and reliving the fears, insecurities, and limitations of your past.</li>
          <li>when you actively design and write out your affirmations to be in alignment with what you want to accomplish and who you need to be to accomplish it— and commit to repeating them daily (ideally out loud)— they immediately make an impression on your subconscious mind. Your affirmations go to work to transform the way you think and feel so you can overcome your limiting beliefs and behaviors and replace them with those you need to succeed.</li>
        </ul>
      <p>Visual: Visualize a successful life.</p>
      <p>Exercise: A habit of exercise is a healthy and energizing way to mold the mind to do what you want it to do.</p>
      <p>Read: Read for 20 minutes everyday.</p>
      <p>Scribe: Write down your thougths.</p>
    </div>
  </div>
</section>