<nav class="top-navbar">
  <div class="nav-logo">
    <a href="/" class="home">
      <%= render "home/partials/nav_logo" %>
    </a>
  </div>
  <ul>
    <li><%= link_to "Why How What", why_path %></li>
    <li><%= link_to "Blog", blog_path%></li>
    <li><%= link_to "Register", register_path %></li>
  </ul>
</nav>