<div class="home">
  <%= render "shared/top_navbar_white" %>
</div>

<header class="home">
  <div class="hero-message">
    <h1>Learn To <strong>Evolve</strong></h1>
  </div>
</header>

<div id="main">
  <%= render "home/partials/middle_row" %>

  <%= render "home/partials/bottom_row" %>
</div>

