<div id="main">
  <section id="top-row">
    <div id="image-home">
      <img src="http://livelearnevolve.com/wp-content/uploads/2014/04/gandhi_1.jpg" alt="Be the change you want to see in this world">
    </div>
  </section>

  <section id="middle-row">
    <div id="home-video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/FDSsaj_Fl9c?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>

  <section id="bottom-row">
    <div id="why">
      <h2>We Believe:</h2>
      <ul>
        <li>
          In evolving personally and professionally.  Life’s a journey so progress is how we achieve success in that journey.
        </li>
        <li>
          Business is a vehicle for positive impact on society, workers, the community, and the environment in addition to profit as its legally defined goals.
        </li>
        <li>
          Leadership is a responsibility, not a rank.  Leaders have a responsibility of putting the well being of others before the well being of the themselves.
        </li>
      </ul>
    </div>
    <div id="how">
      <h2>The way we execute:</h2>
      <ul>
        <li>
          We want more handshake conversations, handshake debates, handshake friends, handshake leadership.  Technology cannot replace human connection. (You cannot form trust through the internet).
        </li>
        <li>
          Deep insight into job culture, market, and position requirements.  We hire professionals and educate ourselves when we are going to buy a house or invest our retirement savings.  We should have career advisors.
        </li>
        <li>
          Acts of kindness and generosity.  More personal communication.
        </li>
      </ul>
    </div>
    <div id="what">
      <h2>What We Do:</h2>
      <ul>
        <li>
          Ambassadors of Quan:  People who spend time and effort helping you do the best you can at finding a new position.  Jerry McGuire Ambassador of Quan: Guide, walk, and help you through the whole process.
        </li>
        <li>
          Company will be designed and run as a Mutual Organization: https://en.wikipedia.org/wiki/Mutual_organization    A mutual organization is owned by, and run for the benefit of, its members (it has no external shareholders).  Members usually do not contribute to the capital of the company by direct investment, but derive their right to profits and votes through their customer relationship.  Quan (cooperative) will own Shoshin (software development/product company).  Shoshin will provide services to Quan at cost.  Developers, engineers, or designers who’ve worked hard to acquire the skills needed to do the job should get paid for the acquisition of those same skills.
        </li>
      </ul>
    </div>
  </section>
</div>
