<section id="bottom-row">
  <div class="dalai-lama">
    <h2 class="man humanity">Man surprised me most about humanity. </h2>
    <h2 class="man sacrifices-his-health">Because he sacrifices his health in order to make money.  Then he sacrifices money to recuperate his health. </h2>
    </br>
    <h2 class="man sacrifices-his-health">And then he is so anxious about the future that he does not enjoy the present;</h2>
    <h2 class="man humanity">the result being that he does not live in the present or the future; he lives as if he is never going to die, and then dies having never really lived.</h2>
    </br>
    <h2 class="man humanity">- Dalai Lama</h2>
  </div>
</section>