<section id="middle-row">
  <div id="home-video">
    <iframe width="381" height="214" src="https://www.youtube.com/embed/FDSsaj_Fl9c?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="quan-ambo-message">
    <h1 class="we-believe" >We Believe</h1>
    <h1 class="evolving">In Evolving Personally and Professionally</h1>
    <h2 class="journey">Life's a journey so progress is how we measure success in that journey.</h2>
  </div>
</section>