@import "neat";

$mobile-layout-grid:(
  columns: 1,
  media: "(max-width: 799px)",
);

@mixin nav-links {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.blog-page .top-navbar-black {
  ul li a {
    color: #000;
  }
}

#blogs {
  @include grid-container;
  margin-top: 5.5em;

  .post {
    @include grid-shift(1 of 12);
    @include grid-column(5);
    height: 448px;
    position: relative;
    border-top: 1px solid black;
    margin-top: 2em;

    @include grid-media($mobile-layout-grid) {
      @include grid-shift(0 of 1);
      @include grid-column(1);
      height: auto;
    }

    .title {
      text-align: center;
      font-size: 3em;
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      font-size: 1.1em;
      font-weight: 100;
    }

    .read-more-container {
      right: 0.75em;
      bottom: 0px;
      position: absolute;

      .read-more {
        @include nav-links;
      }
    }
  }

  .post:first-child, .post:nth-child(2) {
    border-top: none;
    margin-top: 0;

  }

  .post:nth-child(2) {
    @include grid-media($mobile-layout-grid) {
      border-top: 1px solid black;
    }
  }

  .blog {
    @include grid-shift(2 of 12);
    @include grid-column(8);

    @include grid-media($mobile-layout-grid) {
      @include grid-shift(0 of 1);
      @include grid-column(1)
    }

    .title {
      font-size: 4.5em;
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      font-size: 1.25em;
      font-weight: 100;
      line-height: 1.5;
    }

    .back-to-posts {
      @include nav-links;
    }

    .next-blog {
      @include nav-links;
      float: right;
    }
  }
}
