// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "neat";

header {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
    url(zen-path-rocks.jpg);
  background-size: cover;
  height: 100vh;
}

.hero-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

  h1 {
    font-size: 300%;
    text-transform: uppercase;
    font-weight: 100;
  }
}

#main {
  @include outer-container();
  background-color: antiquewhite;
}

#middle-row {
  @include span-columns(12);
}

#home-video {
  @include shift(2 of 12);
  @include span-columns(8 of 12);
  iframe {
    display: block;
    margin: 0 auto;
  }
}



#bottom-row{
  @include span-columns(12);
}