// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "neat";

.top-navbar {
  position: absolute;
  background-color: transparent;
  padding: 0 2em 0 1em;
  width: 100vw;

  .nav-logo {
    float: left;
    width: 9em;
    height: auto;
    margin: 1em 0 0 0;

    a {
      display: block;
    }
  }

  ul {
    list-style: none;
    float: right;
    text-align: left;
    margin: 1.5em 0 1em 0;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: #fff;
        padding: 1em 1em 1em 3em;
        font-weight: 100;
      }
    }
  }


}

header {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
    url(zen-rocks-path.png);
  background-size: cover;
  height: 100vh;
}

.hero-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

  h1 {
    font-size: 300%;
    text-transform: uppercase;
    font-weight: 100;
  }
}

#main {
  @include outer-container();
  background-color: antiquewhite;
}

#middle-row {
  @include span-columns(12);
}

#home-video {
  @include shift(2 of 12);
  @include span-columns(8 of 12);
  iframe {
    display: block;
    margin: 0 auto;
  }
}



#bottom-row{
  @include span-columns(12);
}