<section class="why">
  <h1>We Believe</h1>
  <ul>
    <li>Success is a learnable skill.</li>
    <li>Organizations and people need to evolve.  Everything we do helps people grow personally and professionally.</li>
    <li>Helping others find more happiness and joy through learning and growing is how we measure success.</li>
    <li>Life is a journey so progress is how we achieve success in that journey.</li>
    <li>Businesses need to have a positive impact on society, employees, their community, and the environment in addition to profit as its legally defined goals.</li>
    <li>Technology cannot replace human connection. (You cannot form trust through the internet).  We believe more personal communication (in person or phone call) are necessary to show that you care.</li>
    <li>Acts of kindness and generosity lead to a better world.</li>
  </ul>
</section>
<section class="how">
  <h1>We Study and Share:</h1>
  <ul>
    <li>The science behind behavior change, motivation, happiness, and purpose.</li>
    <li>Habits, patterns, and systems of successful people.</li>
    <li>Truly Human Leadership - People Centric Leadership - Altruistic Leadership</li>
  </ul>
</section>
<section class="what">
  <h1>What We Do</h1>
  <ul>
    <li>We want to be your number one resource for learning how to evolve personally and professionally.  We produce content, products, and services that help you progress and allow you to create your own happiness.</li>
    <li>We share how we overcome the pain of failing at goals or tasks.  We will learn from our failures.</li>
    <li>We break down and share the systems that result in success.  We will learn from our successes.</li>
    <li>We produce and write about everything that we find relevant to growing as an organization.</li>
  </ul>
</section>

