<div class="why">
  <%= render "shared/top_navbar_white" %>
</div>

<header class="why">
  <div class="hero-message">
    <h1>Mission</h1>
    <h2>We are obsessed with fulfillment and growing into what creates the most happiness for each person and/or member of an organization.</h2>
  </div>
</header>

<section class="why-how-what">
  <article class="why">
    <div class="heading">
      <h1>We Believe</h1>
      <h2>Success is a learnable skill.</h2>
    </div>
    <ul>
      <li>Organizations and people need to evolve.  Everything we do helps people grow personally and professionally.</li>
      <li>Helping others find more happiness and joy through learning and growing is how we measure success.</li>
      <li>Life is a journey so progress is how we achieve success in that journey.</li>
      <li>Businesses need to have a positive impact on society, employees, their community, and the environment in addition to profit as its legally defined goals.</li>
      <li>Technology cannot replace human connection. (You cannot form trust through the internet).  We believe more personal communication (in person or phone call) are necessary to show that you care.</li>
      <li>Acts of kindness and generosity lead to a better world.</li>
    </ul>
  </article>
  <article class="how">
    <div class="heading">
      <h1>We Study and Share:</h1>
      <h2>Truly Human Leadership</h2>
    </div>
    <ul>
      <li>Everything we can find that relates to happiness, fulfillment, and living in the present.</li>
      <li>The science behind happiness, purpose, and why we do what we do.</li>
      <li>Habits, patterns, and systems of successful people.</li>
      <li>The difference between fulfillment and achievement.</li>
      <li>People Centric Leadership - Altruistic Leadership</li>
      <li>How nutrition and exercise affect your energy and/or happiness.</li>
    </ul>
  </article>
  <article class="what">
    <div class="heading">
      <h1>What We Do</h1>
      <h2>We want you create your own happiness</h2>
    </div>
    <ul>
      <li>Quan.Rocks wants to be your smart friend, coach, or advisor when it comes to personal and professional development.</li>
      <li>Don't let the world or society dictate your emotional approach to life.</li>
      <li>We want you to stop worrying about your circumstances and change your approach on how to deal with daily obstacles.</li>
      <li>We share how we overcome the pain of failing at goals or tasks.  We will learn from our failures.</li>
      <li>We break down and share the systems that result in success.  We will learn from our successes.</li>
      <li>We produce and write about everything that produces happiness and fulfillment in members of an organization.  We know this produces extraordinary results in all aspects of business and life.</li>
    </ul>
  </article>
</section>

<footer class="why">

</footer>